@{
    ViewData["Title"] = "Home Page";
}

@* @{
    Layout = "_Admin";
} *@
<div class="text-center">
    <h1 class="display-4">Welcome to DotNet Bookstore</h1>
    <p>We're learning ASP.NET Core MVC in Summer 2024 at Georgian College</p>
    <img src="~/img/books/main-page-img-1.jpg" alt="Main page image" class="img-fliud" style="max-width: 70%" />
</div>
